* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #161513;
    --text: #F0F2F5;
    --menu: #292827;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--text);

    padding: 1.5rem;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    flex-direction: column;
    cursor: pointer;
}

.gradient {
    background-image: linear-gradient(90deg, rgb(78, 141, 122) 0%, rgba(9, 121, 22, 1) 35%, rgba(82, 221, 145, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover:hover {
    background-image: linear-gradient(90deg, rgb(38, 46, 44) 0%, rgb(9, 75, 17) 35%, rgb(85, 150, 114) 100%);
}

#icon-menu {
    width: 30px;
    height: 30px;

    cursor: pointer;
}

nav {
    position: absolute;
    z-index: 100;
    right: 0;
    top: -10px;
    height: 20vh;
    width: 70%;
    padding: 2rem;
    background-color: var(--menu);
    display: none;
    visibility: hidden;  
    border-radius: 1rem;
}

nav ul li {
    cursor: pointer;
   
    margin-bottom: 2rem;
}

nav li::marker {
    content: "";
    list-style: none;
}

nav #icon-back {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.show {
    display: flex;
    visibility: visible;
    justify-content: space-between;
}


.icon-hidden {
    display: none;
    visibility: hidden;
}

.saudacao {
    flex-direction: column;
    margin: 0 auto;
}

.saudacao h1 {
    font-size: 1.5rem;
}


.saudacao img {
    margin-top: 20px;
    width: 150px;
    border-radius: 50%;
}

.description {
    margin: 20px;
    text-align: center;
}
